* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    
    display: flex;
    bottom: 0;
    height: 200px;
    width: 100vw;
    background-color: rgba(112, 112, 112, 0.5); 
}


#foo {
    color: whitesmoke;
    margin: 0 auto;
    align-self: center;
}    